{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}military helper - main page{% endblock %}</title>
    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'style.css' %}">
    {% bootstrap_javascript jquery='slim' %}
</head>
<body>

<header>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">


    {% if user.is_authenticated %}

    <h3>Привіт, {{ current_user_fio.0 }}! <br>Показана черга
        {% if area == "dar" %}Дарницького військомату{% endif %}
        {% if area == "dec" %}Деснянського військомату{% endif %}
        {% if area == "dni" %}Дніпровського військомату{% endif %}
        на
        {% if day == "tu" %}вівторок{% endif %}
        {% if day == "th" %}четвер{% endif %}
    </h3>
    <ul>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
               data-toggle="dropdown"
               href="#" role="button" aria-haspopup="true"
               aria-expanded="false">Профіль</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'main:logout' %}">Вийти</a>
            </div>
        </li>


        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
               data-toggle="dropdown"
               href="#" role="button" aria-haspopup="true"
               aria-expanded="false">Обрати час</a>
            <div class="dropdown-menu">
                <form method="post" action="{% url 'main:profile' %}">
                    {% csrf_token %}
                    <select name="add_time">
                        {% for add_time in times %}
                            <option value="{{add_time}}">{{add_time}}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Обрати">
                </form>
            </div>
        </li>


        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
               data-toggle="dropdown"
               href="#" role="button" aria-haspopup="true"
               aria-expanded="false">Скасувати час</a>
            <div class="dropdown-menu">
                <form method="post" action="{% url 'main:profile' %}">
                    {% csrf_token %}
                    <select name="remove_time">
                        {% for remove_time in times %}
                        <option value="{{remove_time}}">{{remove_time}}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Обрати">
                </form>
            </div>
        </li>
    </ul>
{% else %}
    <h3>Привіт, Гість! <br>
        {% if area == "dar" %}Показана черга Дарницького військомату на{% endif %}
        {% if area == "dec" %}Показана черга Деснянського військомату на{% endif %}
        {% if area == "dni" %}Показана черга Дніпровського військомату на{% endif %}

        {% if day == "tu" %}вівторок{% endif %}
        {% if day == "th" %}четвер{% endif %}
    </h3>

    <li class="nav-item"><a class="nav-link"
                            href="{% url 'main:mainpage' %}">На головну сторінку</a></li>
    <li class="nav-item"><a class="nav-link"
                            href="{% url 'main:register' %}">Реєстрація</a></li>
    <li class="nav-item"><a class="nav-link"
                            href="{% url 'main:login' %}">Увійти</a></li>

    {% endif %}
</header>
<section>

    {% block content %}

    {% endblock%}
</section>


<footer>
    <code>Створено за участі Міністерства Оборони України</code>
</footer>
</body>
</html>